version: '3.8'

services:
  frontend:
    # REPLACE "YOUR_DOCKERHUB_USERNAME" BELOW!
    image: kamran78/mean-frontend:latest
    restart: always

  backend:
    # REPLACE "YOUR_DOCKERHUB_USERNAME" BELOW!
    image: kamran78/mean-backend:latest
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
      - PORT=8080
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data: